<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Mobile no.</th>
            <th scope="col">Date</th>
            <th scope="col">Total due</th>
        </tr>
    </thead>
    <tbody>
        {% for event in date_event %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ event.name}}</td>
            <td>{{ event.mobile_no }}</td>
            <td>{{ event.event_date }}</td>

            <td>{{ event.total }}</td>
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
</table>