{% extends "base.html" %}
{% block head_title %} Create Booking {% endblock %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

{% for field in form %}
{% if field.errors %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>{{field.label}} ! </strong>{{field.errors}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{%endif%}
{%endfor%}

<style>
    body {
        background-image: url('{% static "svg/gradient.svg" %}');
        width: 100%;
    }
</style>
<section class="container-fluid ">

    <div class=" row justify-content-center mt-4    ">

        <form class="frm-container  " method="post">
            {% csrf_token %}



            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail3">Name</label>
                    {{ form.name }}
                </div>

                <div class="form-group col-md-6 ">
                    <label for="inputPassword4">Mobile no.</label>
                    {{ form.mobile_no }}
                </div>
            </div>
            <div class="form-group ">
                <label for="inputAddress">Address</label>
                {{ form.address}}
            </div>
            <div class="form-row ">
                <div class="form-group col-md-6 ">
                    <label for="startdate">Start date</label>
                    {{ form.start_date }}
                </div>
                <div class="form-group col-md-6 ">
                    <label for="enddate">End date</label>
                    {{ form.end_date }}
                </div>
            </div>
            <div class="form-row ">
                <div class="form-group col-md-6 ">
                    <label for="eventtype">Event type</label>
                    {{ form.event_type }}
                </div>
                <div class="form-group col-md-6 ">
                    <label for="package">Package</label>
                    {{ form.package }}
                </div>
            </div>
            <div class="form-row ">
                <div class="form-group col-md-6 ">
                    <label for="eventdate">Cleaning charges</label>
                    {{ form.cleaning_charges }}
                </div>
                <div class="form-group col-md-6">
                    <label for="package">Electricity consumption</label>
                    {{ form.electricity_consumption }}
                </div>
            </div>
            <div class="form-row ">
                <div class="form-group col-md-6">
                    <label for="eventdate">Property damage charges</label>
                    {{ form.property_damage_charges }}
                </div>
                <div class="form-group col-md-6">
                    <label for="package">Advance paid</label>
                    {{ form.advance_paid }}
                </div>
            </div>
            <input class="rounded-pill btn btn-primary btn-block" type="submit" value="Submit">

        </form>
    </div>


</section>





{% endblock %}

{% block extra_scripts %}
{% endblock extra_scripts %}